{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Bellatutors</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/icon.png' %}" rel="icon">
  <link href="{% static 'assets/img/icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  {% block styles %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% endblock styles %}


</head>

<body>
  {% include 'admin/navbar.html' %}

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{% url 'admin_home' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#profile-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Settings</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="profile-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          {% if request.user.is_authenticated %}
          <li>
            <a href="{% url 'profile' %}">
              <i class="bi bi-circle"></i><span>Profile</span>
            </a>
          </li>
          <li>
            <a href="{% url 'logout' %}">
              <i class="bi bi-circle"></i><span>Logout</span>
            </a>
          </li>
          {% else %}
          <li>
            <a href="{% url 'login' %}">
              <i class="bi bi-circle"></i><span>Login</span>
            </a>
          </li>
          <li>
            <a href="{% url 'register' %}">
              <i class="bi bi-circle"></i><span>Signup</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </li><!-- End Accounts Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#users-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-people"></i><span>Users</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="users-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'create_user' %}">
              <i class="bi bi-circle"></i><span>Create User</span>
            </a>
          </li>
          <li>
            <a href="{% url 'admins_list' %}">
              <i class="bi bi-circle"></i><span>Admins</span>
            </a>
          </li>
          <li>
            <a href="{% url 'tutors_list' %}">
              <i class="bi bi-circle"></i><span>Tutors</span>
            </a>
          </li>
          <li>
            <a href="{% url 'clients_list' %}">
              <i class="bi bi-circle"></i><span>Clients</span>
            </a>
          </li>
        </ul>
      </li><!-- End Users Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#category-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-bookmarks"></i><span>Categories</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="category-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'create_category' %}">
              <i class="bi bi-circle"></i><span> Add Category</span>
            </a>
          </li>
          <li>
            <a href="{% url 'category_list' %}">
              <i class="bi bi-circle"></i><span>View Categories</span>
            </a>
          </li>
        </ul>
      </li><!-- End Category Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#orders-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-bag-check-fill"></i><span>Orders</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="orders-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'create_order' %}">
              <i class="bi bi-circle"></i><span> Create Order</span>
            </a>
          </li>
          <li>
            <a href="{% url 'pending_orders_list' %}">
              <i class="bi bi-circle"></i><span>Pending Orders</span>
            </a>
          </li>
          <li>
            <a href="{% url 'in_progress_orders_list' %}">
              <i class="bi bi-circle"></i><span>Orders In Progress</span>
            </a>
          </li>
          <li>
            <a href="{% url 'completed_orders_list' %}">
              <i class="bi bi-circle"></i><span>Completed Orders</span>
            </a>
          </li>
        </ul>
      </li><!-- End Orders Nav -->

      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'payments' %}">
          <i class="bi bi-coin"></i>
          <span>Payments</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'admin_new_messages_list' %}">
          <i class="bi bi-chat-left-text"></i>
          <span>Messages</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'new_notifications_list' %}">
          <i class="bi bi-bell"></i>
          <span>Notifications</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'new_users_list' %}">
          <i class="bi bi-person-add"></i>
          <span>New Users</span>
        </a>
      </li>
    </ul>

  </aside><!-- End Sidebar-->


 {% block content %}
  {% endblock %}

  {% include 'footer.html' %}


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  
  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'assets/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'assets/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'assets/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script>
    $(document).ready(function () {
      $("#messages").fadeOut(5000);
    });
  </script>

</body>

</html>