{% extends "admin/admin_base.html" %}

{% block content %}
<main id="main" class="main">
{% include 'shared/timeframe.html' %}
<section class="section dashboard">
    <div class="col-12">
        <div class="card-header">
            {% if messages %}
            {% for message in messages %}
            <div class="row ">
                    <div class="alert text-center alert-{{ message.tags }} alert-dismissible" role="alert" id="messages">
                        {{ message }}
                    </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="card recent-sales overflow-auto">
            <div class="card-body">
            <h5 class="card-title">Tickets</h5>
            <table class="table table-borderless datatable">
                <thead>
                    <tr>
                    <th>Date Created</th>
                    <th>Summary</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% if tickets %}
                {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.created_at }}</td>
                    <td>{{ ticket.summary }}</td>
                    <td>{{ ticket.description }}</td>
                    <td>{{ ticket.category }}</td>
                    <td>{{ ticket.status }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="7">No records found</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
</div>
</section>

</main><!-- End #main -->
{% endblock %}